[Unit]
Description=discord-watchdog service
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 ./discord-watchdog/bot.py
User=someone
WorkingDirectory=./discord-watchdog
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target